.planCard {
  background-color: white;
  box-shadow: 0 2px 23px 0 rgba(155, 155, 155, 0.5);
  height: 200px;
  width: 150px;
  text-align: center;
}

.planHeader {
  background-color: #0065ed;
  height: 100px;
  padding-top: 20px;
  color: white;
}

.planFooterText {
  color: black;
  font-weight: bold;
  margin-top: 20px;
}

.planFooterTime {
  margin-top: -20px;
}
