.notification {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color: rgba(74, 144, 226, 0.42);
  border: 1px solid #1d2531;
}

.notificationIcon {
  color: #1d2531;
  margin-left: 10px;
}
.notificationInfo {
  margin-top: 10px;
  margin-left: 40px;
  font-size: 20px;
  font-weight: 400;
  text-align: left;
}
