.yardBody {
  width: 80%;
  margin: auto;
}

.btnContainer {
  display: flex;
  justify-content: flex-end;
}

.yardChips {
  margin-top: 40px;
  margin-bottom: 40px;
}

#yardBtn {
  margin: 10px;
}

#launchBtn {
  margin-top: 30px;
  margin-bottom: 40px;
  width: 100%;
}

#yardCard {
  display: flex;
  justify-content: flex-start;
}

#yardMember {
  width: 200px;
  margin-left: 75%;
  padding: 7px;
  margin-top: 30px;
}

/* For Responsive */
@media screen and (max-width: 480px) {
  .yardBody {
    margin: auto;
    width: 440px;
  }
  #yardCard {
    justify-content: center;
  }
  #yardMember {
    height: 50px;
    margin: auto;
  }
}
