.input {
  margin: 10px auto;
  display: flex;
  justify-content: center;
}

.iconInput {
  background-color: #f6f6f6 !important;
  border: 1px solid #f6f6f6 !important;
}
.customInputCss {
  border: 1px solid #dadada !important;
  background-color: #dadada !important;
  color: black !important;
}
input::-webkit-input-placeholder {
  color: #4D4D4D !important;
}
