.organizationPaymentBody {
  width: 80%;
  margin: auto;
}

.organizationPaymentChips {
  margin-top: 40px;
  margin-bottom: 40px;
}

#organizationPaymentCard {
  display: flex !important;
  justify-content: flex-start;
  padding-top: 30px;
}

#organizationPaymentPlan {
  margin-left: 40px;
}

#organizationPaymentinput {
  margin: 1px !important;
  width: 60%;
}

#reviewButton {
  margin-left: 86%;
}

.organizationPaymentInsideList {
  margin-left: 20px;
}

/* For Responsive */
@media screen and (max-width: 480px) {
  .organizationPaymentBody {
    margin: auto;
    width: 440px;
  }

  #organizationPaymentinput {
    margin: 1px !important;
    width: 100%;
  }
  
  #listHeading {
    width: 100px;
  }

  #reviewButton {
    margin: auto;
  }
}
