.dashboardBody {
  width: 80%;
  margin: auto;
}

.dashboardChips {
  margin-top: 40px;
  margin-bottom: 40px;
}

.dashboardContent {
  background-color: #d8d8d8;
  border: 1px solid #979797;
  border-radius: 17px;
  opacity: 0.16;
  padding: 10px;
  color: #000000;
  width: 100%;
  font-weight: 500;
}

/* For Responsive */
@media screen and (max-width: 480px) {
  .dashboardBody {
    margin: auto;
    width: 440px;
  }
}
