.list h3 {
  border-bottom: 1px solid black;
  color: black;
}

.list span {
  float: right;
  font-size: 12px;
}

.ulList {
  display: flex;
}
/* For Responsive */
@media screen and (max-width: 480px) {
  .list {
    width: 95%;
    margin: auto;
  }
}
