.reviewBody {
  width: 80%;
  margin: auto;
}

.reviewChips {
  margin-top: 40px;
  margin-bottom: 40px;
}

#reviewCard {
  display: flex !important;
  justify-content: flex-start;
  padding-top: 30px;
  flex-wrap: wrap;
}

#reviewPlan {
  margin-left: 40px;
}

#startTrailButton {
  margin-left: 86%;
}

.reviewInsideList {
  margin-left: 20px;
}

/* For Responsive */
@media screen and (max-width: 480px) {
  .reviewBody {
    margin: auto;
    width: 440px;
  }
  #startTrailButton {
    margin: auto;
  }
  #reviewCard {
    display: flex !important;
    justify-content: center;
    padding-top: 30px;
    flex-wrap: wrap;
  }
  .reviewInsideList {
    margin-left: 20px;
    margin-top: 40px;
  }
}
