.organizationNameBody {
  width: 80%;
  margin: auto;
}

.organizationNameChips {
  margin-top: 40px;
  margin-bottom: 40px;
}

.organizationNameContent {
  background-color: #d8d8d8;
  border: 1px solid #979797;
  border-radius: 17px;
  opacity: 0.16;
  padding: 10px;
  color: #000000;
  width: 100%;
  font-weight: 500;
}

#organizationNameCard {
  display: flex !important;
  flex-direction: column;
  padding-top: 30px;
}

#organizationNamePlan {
  margin-left: 40px;
}

#organizationNameinput {
  margin: 1px !important;
  width: 60%;
}

#nextButton {
  margin-left: 86%;
}

/* For Responsive */
@media screen and (max-width: 480px) {
  .organizationNameBody {
    margin: auto;
    width: 440px;
  }

  #organizationNameinput {
    margin: 1px !important;
    width: 100%;
  }
  #nextButton {
    margin: auto;
  }
}
