.twiterBtnContainer {
  display: flex;
  justify-content: center;
  margin: 15px auto;
}

.twiterButton {
  background-color: #4a90e2;
  border-radius: 10px;
  width: 300px;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  border: 1px solid #4a90e2;
}

.twiterIcon {
  background-color: #4081cc;
  padding: 5px;
  width: 40px;
  height: 40px;
  border-radius: 10px;
}

.twitterBtnText {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  margin: auto;
}
