.logoContainer {
  background-color: #005fa2;
  border-radius: 100%;
  width: 70px;
  height: 70px;
  text-align: center;
  margin: 20px auto !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
