.loginContainer {
  display: flex;
  justify-content: center;
}
.loginMainCard {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  box-shadow: 0 2px 23px 0 rgba(155, 155, 155, 0.5);
  justify-content: space-between;
  width: 800px;
  margin-top: 40px;
  height: 535px;
}

.loginFormCard {
  margin: 20px auto;
}

.loginInfo {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.loginRegisterText {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  cursor: pointer;
}

.loginOrText {
  color: #000000;
  font-size: 20px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

/* For Responsive */
@media screen and (max-width: 480px) {
  .loginMainCard {
    display: flex;
    flex-direction: column;
  }
  .loginFormCard {
    margin: 10px auto !important;
    width: 100% !important;
  }
}
