.yardReviewBody {
  width: 80%;
  margin: auto;
}

.yardReviewChips {
  margin-top: 40px;
  margin-bottom: 40px;
}
#yardReviewCard {
  display: flex !important;
  justify-content: flex-start !important;
}

#yardReviewCard p {
  margin-top: 20px;
  padding-bottom: 200px;
}

#reviewYardbtn {
  float: right;
}
.yardReviewInsideList {
  margin-left: 20px;
}

/* For Responsive */
@media screen and (max-width: 480px) {
  .yardReviewBody {
    margin: auto;
    width: 440px;
  }
  #reviewYardbtn {
    margin-right: 10px;
  }
}
