.fbBtnContainer {
  display: flex;
  justify-content: center;
}

.fbButton {
  background-color: #005fa2;
  border-radius: 10px;
  width: 300px;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  border: 1px solid #005fa2;
}

.fbIcon {
  background-color: #00538e;
  padding: 5px;
  width: 40px;
  height: 40px;
  border-radius: 10px;
}

.btnText {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  margin: auto;
}
