.mainHeader {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.headerLogo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#headerTitle {
  margin-left: -60px;
}

/* For Responsive */
@media screen and (max-width: 480px) {
  .mainHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .headerLogo {
    margin-left: -10px;
  }
  .headerIcon {
    margin-left: -50px;
  }
}
