.chipContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f1f1f1;
  border-radius: 9px;
  box-shadow: 2px 2px 12px 0 rgba(191, 191, 191, 0.24);
  width: 217.97px;
  height: 48px;
  margin: 15px;
}

.chipCircle {
  background-color: #d8d8d8;
  border-radius: 100%;
  opacity: 0.6256975446428571;
  width: 35px;
  height: 35px;
}

.chipBadge {
  border-radius: 2.5px;
  font-size: 12px;
  padding: 5px;
  color: white;
}
