.organizationBody {
  width: 80%;
  margin: auto;
}

.organizationChips {
  margin-top: 40px;
  margin-bottom: 40px;
}

.organizationContent {
  background-color: #d8d8d8;
  border: 1px solid #979797;
  border-radius: 17px;
  opacity: 0.16;
  padding: 10px;
  color: #000000;
  width: 100%;
  font-weight: 500;
}

#organizationCard {
  display: flex !important;
  flex-direction: row;
  padding-top: 30px;
  justify-content: flex-start;
}

.organizationListInfo {
  margin-left: 15px;
  width: 90%;
}

#inviteMember {
  width: 200px;
  margin-left: 75%;
  padding: 7px;
}
.organizationInputContainer {
  margin-top: 30px;
}

/* For Responsive */
@media screen and (max-width: 480px) {
  .organizationBody {
    margin: auto;
    width: 440px;
  }
  #organizationCard {
    justify-content: center;
  }
  #inviteMember {
    width: 200px;
    height: 50px;
    margin: auto;
  }
}
